.pet-list-body {
  background-image: url("../../images/pets-background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 800px;
}

.pet-list-title {
  text-align: center;
  padding: 40px;
  color: #008F86;
  -webkit-text-stroke: 1px #2F4858; /* width and color */
}

.pet-list-title h1{
  font-size: 40px;
}

.pet-list-results {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pet-list-filters {
  display: table;
  text-align: center;
  border-radius: 10px;
  background: white;
  width: 80%;
  height: auto;
  margin: auto;
  padding: 10px;
}

.pet-list-filters select{
  display:none;    
  vertical-align: middle;
  width: 30%;
  margin: 10px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


.pet-list-options{
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color:transparent;
}

.pet-list-navlink{
}