.header {
  height: 50%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.Logo {
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
  background-color: blueviolet;
}

.Login {
  position: absolute;
  width: 50%;
  left: 50%;
  float: right;
  background-color: chartreuse;
}
