.containers {
    /* background-color: rgb(80,160,255); */
}

.PlanosPageEsquerda {

    position: absolute;
    top: 5%;
    left: 4%;
    width: 28%;
    height: 90%;
    float: left;
    background-color: blue;


}

.PlanosPageCentro {

    position: absolute;
    top: 5%;
    left: 36%;
    width: 28%;
    height: 90%;
    float: center;
    background-color: yellow;

}

.PlanosPageDireita {

    position: absolute;
    top: 5%;
    left: 68%;
    width: 28%;
    height: 90%;
    float: center;
    background-color: red;

}