.img_logo {
  position: absolute;
  height: 160%;
  top: -10%;
  left: 45%;
}

.img_nome_logo {
  position: absolute;
  height: 20%;
  top: 20%;
  left: 10%;
}

.banner {
  position: relative;
  height: 350px;
  width: 100%;
  background-color: #d7fadb;
  overflow-y: hidden;
  align-content: center;
}

.body {
  align-content: center;
}

.about {
  margin: auto;
  width: 80%;
  padding: 20px;
}

.description {
  width: 50%;
  float: left;
  padding: 10px;
}

.desc-image {
  width: 50%;
  float: left;
  padding: 10px;
}
