.LandingPage {
    text-align: center;

}
.logo_main {
    background-color: #BDF2ED;
    position: absolute;
    max-height: 60%;
    width: 100%;
    overflow-y: hidden;
}

.img_logo{
    position: relative;
    max-width: 40%;
    max-height: 10%;
    margin-top: -6% ;
    /* margin-right:-5%; */
    float: right;
}

.img_nome_logo{
    position: inherit;
    max-width: 55%;
    top: 25%;    
    left: 8%;
}